<template>
  <div>
    <section class="hero is-light is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="title is-2">Unknown page!</h2>
          <h4 class="title is-4">Hmmm maybe something went wrong {{ emojiConfused }}</h4>
          <b-button tag="a" href="https://flattrack.io" type="is-warning" size="is-medium" rounded>Go to FlatTrack.io</b-button>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import emoji from 'node-emoji'

export default {
  name: 'Unknown Page',
  data () {
    return {
      emojiConfused: emoji.get('confused')
    }
  }
}
</script>

<style scoped>

</style>
