<template>
    <div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>FlatTrack</strong> and <strong>default-backend</strong> by <a href="https://calebwoodbine.com">Caleb Woodbine</a>.
                    <br>
                    <a href="https://gitlab.com/flattrack/default-backend" target="_blank" rel="noreferrer"> Source code </a> - <a href="https://flattrack.io/privacy-policy">Privacy Policy</a>
                </p>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
  name: 'ftfooter'
}
</script>

<style scoped>

</style>
