<template>
  <div>
    <section class="hero is-info navbar-shadow">
      <div class="hero-body">
        <p class="title">
          FlatTrack
        </p>
        <p class="subtitle">
          Collaborate with your flatmates
        </p>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'header-display',
  props: {
  },
  data () {
    return {
    }
  },
  created () {
  }
}
</script>

<style scoped>

</style>
